.social-media-links {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.social-media-links a {
  text-decoration: none;
  color: white;
  padding: 10px;
  transition: color 0.3s ease;
}

.social-media-links a:hover {
  color: #0073e6;
}
