.layout-container {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  margin: 0 24px;
  .left-side {
    width: 40%;
    max-height: 100vh;
    position: sticky;
    top: 0px;
    overflow: auto; // Ensure content inside left-side can be scrolled if needed
    .work-links-container {
      a {
        display: block; // Make each link appear on a new line
        color: orange;
        text-decoration: none;
        font-size: 0.8em;
        margin: 10px 0;
        padding: 10px;
        border-radius: 5px;
        transition: background-color 0.3s, color 0.3s;

        &:hover {
          background-color: rgba(
            255,
            165,
            0,
            0.2
          ); // Light orange background on hover
          color: white;
        }

        b {
          font-weight: bold;
        }

        svg {
          margin-left: 8px;
          vertical-align: middle;
        }
      }
    }
  }
  .right-side {
    width: 60%;
    h2 {
      font-size: 0.8em;
      color: #333;
      margin: 20px 0;
      padding: 10px;
      background-color: #f0f0f0;
      border-left: 5px solid #ff6600;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    .experience-container {
      .experience-card {
        padding: 8px 20px;
        margin: 40px 0;
        box-shadow: 0px 0px 6px 2px #ededed;
        .experience-title {
          display: flex; /* Enables flexbox layout */
          align-items: center; /* Vertically aligns text and image */
          justify-content: space-between; /* Pushes the image to the end */
          .company-logo {
            margin-left: auto; /* Ensures the image is placed at the end */
          }
        }
      }
      .experience-technologies {
        .experience-chip {
          border: 1px solid #ff9800;
          text-decoration: wavy;
          border-radius: 8px;
          padding: 4px 8px;

          display: inline-block;
          text-align: center;
          margin: 5px 8px 5px 0px;
          font-weight: 500;
        }
      }
    }
  }
}
